<div class=page-footer>
     <h2>Questions?</h2>
     <p>
     	Common questions are covered in the <a href="https://www.paymentwall.com/faq">FAQ</a>.<br/>
     	For integration and API questions, feel free to reach out Integration Team via <a href=mailto:integration@paymentwall.com>integration@paymentwall.com</a>.<br/>
     	For business support, email us at <a href=mailto:bizsupport@paymentwall.com>bizsupport@paymentwall.com</a>.<br/>
     	To contact sales, email <a href=mailto:bizdev@paymentwall.com>bizdev@paymentwall.com</a>.
 	</p>
 	<p>
 		To suggest a change to this documentation you can submit an pull request on <a href=https://github.com/paymentwall/paymentwall.github.io>GitHub</a>.
	</p>
</div>
