<div class=page-footer>
     <h2>Question</h2>
     <p>Check our answer for <a href="https://www.paymentwall.com/faq">common questions</a>. You can also send email to <a href=mailto:devsupport@paymentwall.com>devsupport@paymentwall.com</a> to get technical support.</p>
     <p>It is always appreciated to submit an issue directly on  <a href=https://github.com/paymentwall/paymentwall.github.io>Github</a>  if there is anything your are confused or want to learn about, which is helpful for us to improve our documentation.</p>
</div>
